.MainTable{
	width: 100%;
	position: relative;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	--topBarHeight: 29px;
	color: var(--mainTextColor);
	background-color: var(--bodyAltBG);
}

.MainTable.noTransition *{
	transition: none !important;
}

.MainTable .topBar{
	padding: 7px 0px;
	padding-top: 3px;
	padding-left: 30px;
	background-color: var(--bodyAltBG);
	position: sticky;
	left: 0;
	z-index: 2;
	top:0;
	height: var(--topBarHeight);
}

.MainTable .topBar .menuButtonContainer{
	padding: 0;
	margin-right: 10px;
	z-index: 11;
}

.MainTable .theadBar{
	top: var(--topBarHeight);
	overflow-y: visible;
	background-color: var(--bodyAltBG);
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	position: sticky;
	z-index: 1;
}

.MainTable.hasNested .theadBar>span:first-child{
	padding-left: 10px;
}

.MainTable .TheadButton, 
.MainTable .theadBarComponentWrapper{
	white-space: nowrap;
	text-align: left;
	padding-left: 0;
	color: var(--mainTextColor);	
}

.MainTable .theadBarComponentWrapper{
	overflow: hidden;
}

.MainTable .theadBarTheadButtonWrapper
.menuButtonContainer,
.MainTable .theadBarTheadButtonWrapper
.menuButtonContainer .TheadButton{
	width: 100%;
	/* overflow: hidden; removed as it causes the theadbutton to be very tall for no reason */
}

.MainTable .theadBarTheadButtonWrapper.shiftLeft
.menuButtonContainer{
	padding-left: 0;
}

.MainTable .theadBarTheadButtonWrapper.centeredHeader,
.MainTable .theadBarTheadButtonWrapper.centeredHeader .TheadButton
{
	text-align: center;
}


.MainTable .TheadButton:active,
.MainTable .TheadButton:focus,
.MainTable .TheadButton.open{
	color: var(--labelColor);
	filter: brightness(70%);
}

.MainTable .TheadButton.locked{
	color: var(--mainTextColor)	!important;
	filter: none !important;
}

.MainTable span{
	box-sizing: border-box;
	display: inline-block;
	text-align: left;
	padding: 0 3px;
	margin: 0;
	max-height: 100%;
	padding-left: 23px;
}

.MainTable span:first-child{
	padding-left: 3px;
}

/* Controls */
.MainTable .topBarContainer{
	position: relative;
}

.MainTable .tableControls{
	color: var(--lockedTextColor);
	font-size: 12pt;
	background-color: var(--bodyAltBG);
}

.MainTable .pageControls{
	text-align: right;
	padding: 0 10px;
	margin: 0;
	height: 25px;
	color: var(--lockedTextColor);
	position: absolute;
	right: 0;
	top: -2px;
	background-color: var(--bodyAltBG);
}

.MainTable .topBar button{
	border: none;
	background-color: transparent;
	color: var(--lockedTextColor);
	font-size: 15pt;
	padding: 0 10px;
	outline: none !important;
}

.MainTable .topBar button:hover{
	color: var(--labelColor);
}

.MainTable .topBar button:active{
	filter: brightness(70%);
}

.MainTable .tableControls button{
	font-size: 12pt;
	padding-left: 0;
	margin-right: 10px;
}

.MainTable .textButton{
	font-size: 13pt !important;
	height: 100%;
}

.MainTable .smallIcon{
	font-size: 10pt;
} 

.MainTable .smallerIcon{
	font-size: 9pt;
}