.InputCell.cellTextBox{
	border: none;
	outline: none !important;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	margin: none;
	height: 100%;
	color: inherit;
	padding: 1px 10px;
	border-radius: 10px;
}
