.MainTableRow .InputCell{
	outline: none !important;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	margin: none;
	height: 20px;
	box-sizing: border-box;
	color: inherit;
	color: var(--mainTextColor);
	padding: 1px 10px;
	border-radius: 10px;
	transition: background-color 750ms ease-out;
}

.MainTableRow .inputWrapper{
	height: 100%;
}

.MainTableRow .badge.inputWrapper{
	padding: 0;
}

.MainTableRow .InputCell.invalid,
.MainTableRow .InputCell.valid{
	transition: all 0ms;
}

.MainTableRow .badge .InputCell{
	background-color: transparent;
	border-radius: 0;
	height: 100%;
	width: 100%;
	text-align: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	padding: 4px 0;
	border: none;
}

/* Cells for nested tables */
.MainTableRow .MainTableRow .InputCell{
	height: calc(100% - 3px);
}

/* Combobox cell */
select.InputCell{
	vertical-align: top;
	padding-top: 0 !important;
}

select.InputCell:focus{
	border: 1px solid var(--borderColor)
}