.MainTableRow{

	background-color: transparent;
	padding: 4px 10px;
	height: 40px;
	transition: all 0.2s;
	box-sizing: border-box;
}

.MainTableRow.pointer{
	cursor: pointer;
}

.MainTable.hasActive .MainTableRow:hover{
	filter: brightness(97%)
}

.MainTable.hasActive .MainTableRow:active{
	transition: all 0.05s ease-out;
	filter: brightness(95%)
}

.MainTableRow span{
	transition: inherit;
	overflow: hidden;
}

.MainTableRow .rowContainer{

	height: 100%;
	background-color: var(--cardBG);
	padding: 4px 15px;
	border-radius: 10px;
	box-shadow: var(--cardShadow);
	transition: color 0.3s, color 0.15s ease-out;	
	overflow: hidden;
}

.MainTableRow .active{
	color: var(--tableActiveColor);
}


