.MainTableRow{
	background-color: transparent;
	padding: 4px 10px;
	height: 30px;
	transition: all 0.2s;
	box-sizing: border-box;
	
	background-color: var(--cardBG);
	margin: 7px 5px;
	border-radius: 10px;
	
	transition: background-color 0.15 ease-out, color 0.15s ease-out;	
	overflow: hidden;
}

.MainTableRow.pointer{
	cursor: pointer;
}

.MainTable.hasActive .MainTableRow:active{
	transition: all 0.05s ease-out;
	filter: brightness(95%);
}

.MainTableRow span{
	transition: inherit;
	overflow: hidden;
}

.MainTableRow.active{
	color: var(--tableActiveColor);
}

.MainTableRow .InputCell{
	border: none;
	outline: none !important;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	margin: none;
	height: 100%;
	color: inherit;
	padding: 1px 10px;
	border-radius: 10px;
	transition: background-color 1s ease-out;
}

.MainTableRow .InputCell.invalid{
	transition: all 0ms;
}

.MainTableRow .badge{
	border-radius: 10px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0;
	font-size: 11.5pt;
	transition: none;
	display: inline-block;
	height: 100%;
}

.MainTableRow .badge:empty{
	background-color: transparent !important;
}
