.SaveTableLayout .inputMenu{
	border-bottom: 1px solid var(--borderColor);
	padding: 5px 5px;
	padding-left: 15px;
	position: relative;
	padding-bottom: 10px;
}

.SaveTableLayout .input{
	font-size: 10pt;
	margin-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: calc(100% - 25px);
}

.SaveTableLayout .layoutButton{
	position: relative;
}

.SaveTableLayout .cancelIcon{
	position: absolute;  
	right: 5px;
	top: 4px;
	cursor: pointer;
	width: fit-content !important;
	z-index: 2;
	filter: none !important;
}

.SaveTableLayout .commitIcon{
	position: absolute; 
	right: 5px;
	bottom: 9px;
	color: var(--lockedTextColor);
	cursor: pointer;
	font-size: 11pt;
}

.SaveTableLayout .commitIcon:hover{
	filter: brightness(115%);
}

.SaveTableLayout .commitIcon:active{
	filter: brightness(90%);
}

.SaveTableLayout .layoutButtonText{
	max-width: calc(100% - 30px);
	text-align: left;
	padding-left: 0;
}
