.MainTable{
	width: 100%;
	position: relative;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
}

.MainTable .mainSection{
	padding: 0px 10px;
	background-color: var(--bodyAltBG);
	color: var(--mainTextColor);
	height: 100%;
	position: relative;
	width: 100%;
	overflow-y: hidden;
}

.MainTable .internalPadding{
	height: 75vh;
}

.MainTable.noTransition *{
	transition: none !important;
}

.MainTable .topBar{
	display: flex;
	padding: 7px 0px;
	padding-top: 3px;
	padding-left: 30px;
	background-color: var(--bodyAltBG);
	position: sticky;
	left: 0;
	z-index: 2;
	top:0;
}

.MainTable .topBar .menuButtonContainer{
	padding: 0;
	margin-right: 10px;
}

.MainTable .theadBar{
	overflow-y: visible;
	width: fit-content;
	background-color: var(--bodyAltBG);
	padding-left: 35px;
	padding-right: 25px;
	display: flex;
}


.MainTable .TheadButton{
	white-space: nowrap;
	text-align: left;
	padding-left: 0;	
}

.MainTable .TheadButton:active,
.MainTable .TheadButton:focus{
	color: var(--labelColor);
	filter: brightness(70%);
}

.MainTable .TheadButton.locked{
	color: var(--mainTextColor)	!important;
	filter: none !important;
}

.MainTable span{
	box-sizing: border-box;
	display: inline-block;
	text-align: left;
	padding: 0 3px;
	margin: 0;
	max-height: 100%;
	padding-left: 23px;
}

.MainTable .badge{
	border-radius: 10px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0;
	font-size: 11.5pt;
	transition: none;
	display: inline-block;
}

.MainTable .badge:empty{
	background-color: transparent !important;
}

.MainTable span:first-child{
	padding-left: 3px;
}

/* Controls */
.MainTable .tableControls{
	width: 50%;
	color: var(--lockedTextColor);
	font-size: 12pt;
	padding-top: 3px;
}

.MainTable .pageControls{
	text-align: right;
	padding: 0 10px;
	margin: 0;
	height: 25px;
	color: var(--lockedTextColor);
	width: 50%;
	right: 0;
}

.MainTable .topBar button{
	border: none;
	background-color: transparent;
	color: var(--lockedTextColor);
	font-size: 15pt;
	padding: 0 10px;
	outline: none !important;
}

.MainTable .topBar button:hover{
	color: var(--labelColor);
}

.MainTable .topBar button:active{
	filter: brightness(70%);
}

.MainTable .tableControls button{
	font-size: 12pt;
	padding-left: 0;
	margin-right: 10px;
}

.MainTable .textButton{
	font-size: 13pt !important;
	height: 100%;
}

.MainTable .smallIcon{
	font-size: 10pt;
} 

.MainTable .smallerIcon{
	font-size: 9pt;
}


