.InfoTabContainer{
	background-color: var(--bodyAltBG);
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.InfoTabContainer .tab-content{
	color: var(--mainTextColor);
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}

.InfoTabContainer .tab-pane{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.InfoTabContainer .InfoTab{
	overflow: hidden;
	width: 100%;
}

.InfoTabContainer .nav-tabs{
	background-color: var(--navColor);
	overflow: hidden;
	border: none;
	padding-left: 0px;
	position: sticky;
	top: 0;
	z-index: 30;
}

.InfoTabContainer .nav-tabs a{
	padding: 6px 30px;
	background-color: var(--navColor);
	color: 	var(--navTextColor);
	outline: none !important;
	border: none;
	margin-right: 8px;
	margin-left: 8px;
	text-align: center;
	font-size: 14pt;
	box-sizing: border-box;
}

.InfoTabContainer .nav-tabs a.active{
	background-color: var(--navColor);
	color: 	var(--navTextColor);
	
	text-shadow: 1px 0px 0px var(--navTextColor);
	
	border-bottom-style: solid;
	border-bottom-color: var(--navTextColor);
	border-bottom-width: 6px;
}

.InfoTabContainer .nav-tabs a:hover{
	color:var(--navHoverColor);
}

.InfoTabContainer .nav-tabs a.active:hover{
	text-shadow: 1px 0px 0px var(--navHoverColor);
}

/* InfoCard components styled differntly */
.InfoTabContainer .InfoCard{
	padding: 10px;
}

