.SplitScreen{
	height: calc(100% - var(--controlBarHeight));
	display: flex;
	width: 100%;
	background-color: transparent;
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	bottom: 0;
}

.SplitScreen>div{
	width: 100%;
}

.SplitScreen .gutter{
	width: 100%;
	background-color: red;
	cursor: n-resize;
	pointer-events: all;
}

/* InfoCard components styled differntly */
.SplitScreen .InfoCard{
	padding: 10px !important;
}

.SplitScreen .MainTable{
	padding-bottom: 0;
}