.SplitScreen{
	height: 100%;
	display: flex;
	width: 100%;
	background-color: transparent;
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	bottom: 0;
}

.Module > .SplitScreen{
	height: calc(100% - var(--controlBarHeight));
}

.SplitScreen>div{
	width: 100%;
}

.SplitScreen>div>div{
	height: 100%;
	overflow-y:auto;
}

.SplitScreen .gutter{
	width: 100%;
	background-color: var(--navColor);
	opacity: 60%;
	cursor: ns-resize;
	pointer-events: all;
}

/* InfoCard components styled differntly */
.SplitScreen .InfoCard{
	padding: 10px !important;
}

.SplitScreen .MainTable{
	padding-bottom: 0;
}