.ControlBar{
	width:100%;
	background-color: var(--navColor);	
	padding: 5px 10px;
	color: var(--navTextColor);
	height: var(--controlBarHeight);
	box-sizing: border-box;
	position: relative;
}

.ControlBar .buttonContainer{
	box-sizing: border-box;
	position: absolute;
	left: 10px;
	background-color: var(--navColor);
	height: 100%;
	
}

.ControlBar .searchContainer{
	position: absolute;
	right: 5px;
	box-sizing: border-box;
	width: max(20%, 250px);
	height: 100%;
	display: flex;
	align-items: center;
}

.ControlBar .SearchBar{
	width: 100%;
}

.ControlBar .input{
	border: none;
}

/* ControlButton */
.ControlBar button:not(.searchButton){
	outline: none !important;
	border: none;
	border-radius: 15px;
	height: 100%;
	
	color: var(--navTextColor);
	background-color: var(--navColor);
	background-color: transparent;
	
	font-size: 14pt;
	font-weight: bold;
	margin:0;
	margin-right: 30px;
	white-space: nowrap;
}

.ControlBar button:hover{
	color: var(--navHoverColor);
}

.ControlBar button:active{
	color: var(--navClickedColor);
}

.ControlBar button.locked{
	color: var(--navTextColor) !important;
	filter: brightness(80%);
	opacity: 60%;
	cursor: default;
}