.ControlButton{
	outline: none !important;
	border: none;
	border-radius: 15px;
	
	color: var(--navTextColor);
	background-color: transparent;
	
	font-size: 14pt;
	font-weight: bold;
	margin:0;
	margin-right: 30px;
}

.ControlButton:hover{
	color: var(--navHoverColor);
}

.ControlButton:active{
	color: var(--navClickedColor);
}

.ControlButton.locked{
	color: var(--navTextColor) !important;
	filter: brightness(80%);
	opacity: 60%;
}
