.ControlBar{
	width:100%;
	background-color: var(--navColor);	
	padding: 10px;
	padding-top: 5px;
	color: var(--navTextColor);
	height: var(--controlBarHeight);
	box-sizing: border-box;
}

.ControlBar .buttonContainer{
	box-sizing: border-box;
	width: 80%;
}

.ControlBar .searchContainer{
	box-sizing: border-box;
	width: 20%;
}

.ControlBar .SearchBar{
	width: 100%;
}

/* ControlButton */
.ControlBar button{
	outline: none !important;
	border: none;
	border-radius: 15px;
	
	color: var(--navTextColor);
	background-color: transparent;
	
	font-size: 14pt;
	font-weight: bold;
	margin:0;
	margin-right: 30px;
}

.ControlBar button:hover{
	color: var(--navHoverColor);
}

.ControlBar button:active{
	color: var(--navClickedColor);
}

.ControlBar button.locked{
	color: var(--navTextColor) !important;
	filter: brightness(80%);
	opacity: 60%;
	cursor: default;
}
