/* Styles for all Input type components */

.input{
	background-color: var(--inputColor);
	color: var(--mainTextColor);
	outline: none !important;
	padding: 5px 15px;
	border-radius: 15px;
	border: 1px solid var(--borderColor);
	font-size: 14pt;
}

.input.invalid{
	background-color: var(--inputInvalidColor);
}

.input.valid{
	background-color: var(--inputValidColor);
}

.input:focus:not(.locked){
	/* filter: brightness(102%); */
	border-color: var(--tableActiveColor);
}

.input.locked, .locked .input
.input.locked:hover, .locked .input:hover
.input.locked:focus, .locked .input:focus{
	cursor: default !important;
	filter: grayscale(50%);
	opacity: 85%;
	color: var(--lockedTextColor);
}
