.SearchBar{
	position: relative;
}

.SearchBar .searchButton{
	background-color: transparent;
	border: none;
	font-size: 13pt;
	transition: all 0.1s;
	outline: none !important;
	transform: translateX(-35px);
	padding-top: 5px;
	position: absolute;
	
	color: var(--lockedTextColor);
	opacity: 80%;
}

.SearchBar input{
	padding-right: 32px;
	width: 100%;
}

.SearchBar.locked .searchButton{
	background-color: transparent;
	border: none;
	color: var(--lockedTextColor);
}

.SearchBar .searchComponentWrapper{
	position: absolute;
	top: 100%;
	width: 100%;
	height: fit-content;
	background-color: var(--cardBG);
	border: 1px solid var(--borderColor);
	border-radius: 15px;
	z-index: 20;
	color: var(--mainTextColor);
	padding: 10px;
}