.Tile{
	height: 100px;
	width: 100px;
	padding: 10px;
}

.TileContainer{
	padding-top: 4px;
	height: 100%;
	width: 100%;
	background-color: var(--cardBG);
	transition: all 0.3s;
	font-size: 10pt;
	text-align: center;
	color: var(--mainTextColor);
	border-radius: 15px;
	overflow: hidden;
	line-height: 10pt;
	position: relative;
}

.Tile .logo{
	height: 65%;
	font-size: 30pt;
	color: var(--labelColor)
}

.Tile .title{
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 100%;
}

.TileContainer:hover{
	background-color: var(--navColor);
	cursor: pointer;
	color: var(--navTextColor);
}

.TileContainer:hover > .logo{
	color: var(--navTextColor);
	transition: all 0.25s ease-in-out;
}

.Tile img{
	height: 90%;
}

.Tile:hover img, .TileContainer.splashScreen img{
	filter: brightness(0) saturate(100%) invert(100%);
}

.Tile:active{
	filter: brightness(80%);
	transition: all 0.05s;
}