.Tile{
	height: 100px;
	width: 100px;
	padding: 10px;
}

.TileContainer{
	padding-top: 4px;
	height: 100%;
	width: 100%;
	background-color: var(--cardBG);
	transition: all 0.2s;
	font-size: 10pt;
	text-align: center;
	color: var(--mainTextColor);
	border-radius: 15px;
	line-height: 10pt;
	position: relative;
}

.Tile .logo{
	height: 65%;
	font-size: 30pt;
	color: var(--labelColor)
}

.Tile .title{
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 100%;
}

.TileContainer:hover{
	cursor: pointer;
	filter: brightness(90%);
}

.Tile img{
	height: 90%;
}

.TileContainer:active{
	filter: brightness(80%);
	transition: all 0.05s;
}

.Tile.locked .TileContainer{
	filter: opacity(60%);
	cursor: default;
}

.Tile.locked .logo{
	filter: brightness(50%);
}

.Tile .notifications{
	position: absolute;
	top: -8px;
	right: -2px;
	font-size: 9pt;
	color: white;
	background-color: red;
	font-weight: bold;
	border-radius: 10px;
	padding: 4px 6px;
}